.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  background: #2f3640;
  margin: 0;
}

.player-container {
  background: #333;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  max-inline-size: 350px;
}

.cover {
  position: relative;
  inline-size: 100%;
  block-size: 350px;
}

.cover__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content {
  max-inline-size: 100%;
  padding: 20px;
  display: grid;
  row-gap: 15px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  padding: 10px;
  border-radius: 5px;
}

.control-button {
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 60px;
  block-size: 60px;
  gap: 10px;
  background: transparent;
}

.control-button:active {
  transform: scale(0.9);
}

#play {
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
}

#play:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 6px 25px rgba(255, 255, 255, 0.5),
    0 0 25px rgba(0, 255, 221, 0.6);
}

#play:active {
  transform: scale(0.9);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(0, 255, 221, 0.3);
}

.control-button svg {
  inline-size: 80%;
  block-size: 80%;
  fill: rgba(255, 255, 255, 0.7);
  transition: fill 0.3s;
}

.control-button:hover svg {
  fill: #00ffdd;
}

.track-info {
  display: grid;
  gap: 5px;
  flex: 1;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.track-info h4 {
  font-size: 16px;
  opacity: 0.7;
}

.track-info h4,
.track-info p {
  margin: 0;
}

.progress-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  inline-size: 100%;
}

#pause-icon {
  display: none;
}

#progress {
  cursor: pointer;
  inline-size: 100px;
  margin-inline: 10px;
}

#current-time,
#duration {
  color: #fff;
  font-size: 14px;
}

#progress {
  -webkit-appearance: none;
  appearance: none;
  inline-size: 100%;
  block-size: 8px;
  border-radius: 5px;
  background: #444;
  outline: none;
  margin-block: 10px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

#progress::-webkit-progress-bar {
  background-color: #444;
  border-radius: 5px;
}

#progress::-webkit-progress-value {
  background: linear-gradient(90deg, #12f3d1, #3c9de7);
  border-radius: 5px 0 0 5px;
}

#progress::-moz-progress-bar {
  background: linear-gradient(90deg, #12f3d1, #3c9de7);
  border-radius: 5px 0 0 5px;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  inline-size: 15px;
  block-size: 15px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #00ffdd;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

#progress::-moz-range-thumb {
  inline-size: 15px;
  block-size: 15px;
  background: #fff;
  border: 2px solid #00ffdd;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

#progress:hover::-webkit-slider-thumb,
#progress:hover::-moz-range-thumb {
  transform: scale(1.2);
}

.bars {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  gap: 4px;
  block-size: 64px;
}

.bars__item {
  animation: play 1s ease-out infinite;
  animation-play-state: paused;
  background-image: linear-gradient(to top, rgb(14, 233, 160), rgb(106, 241, 99));
  block-size: 100%;
  inline-size: 16px;
}

.bars__item:nth-child(4n) {
  animation-delay: 0s;
}

.bars__item:nth-child(4n+1) {
  animation-delay: 0.5s;
}

.bars__item:nth-child(4n+2) {
  animation-delay: 0.2s;
}

.bars__item:nth-child(4n+3) {
  animation-delay: 0.75s;
}

@keyframes play {
  0% {
    height: 10%;
  }

  25% {
    height: 75%;
  }

  50% {
    height: 50%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 10%;
  }
}